.footer {
  margin: 0;
  min-height: 469px;
  background-color: #64abf9;
  padding: 100px;
}
.footerlc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footercc {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.footercc p {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.footercc img {
  display: inline-block;
  width: 27px;
  height: 27px;
}
.footerCopy {
  position: absolute;
  text-align: center;
  bottom: 0;
}
.footerrc {
  padding-top: 20px;
  color: #fff;
}
.footerrc p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.footerSocial {
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.footerSocial img {
  height: 27px;
  width: 27px;
  margin-top: 20px;
}
.footerm{
  display: none;
}

@media (max-width: 990px) {
  .footer{
    padding: 0;
  }
  .footerlc{
    display: none;
  }
  .footerrc{
    display: none;
  }
  .footercc{
    display: none;
  }
  .footerm{
    color: #fff;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .blockInfo img, .blockInfo p{
    display: inline-block;
    color: #fff;
  }
  .mlogo{
    margin-bottom: 30px;
  }
  .footerSocial{
    width: 65%;
  }
  .footerSocial img{
    width: 40px;
    height: 40px;
  }
  .footerCopy{
    position: static;
  }
}
