.page6 {
  margin: 0;
  position: relative;
  min-height: 774px;
  background-color: #daecff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page6 h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
}
.page6 p {
  line-height: 30px;
  width: 470px;
  text-align: center;
}
.page6 input {
  height: 58px;
  width: 470px;
  margin: 10px 0;
  border-radius: 10px;
}
.page6But {
  margin-top: 50px;
  background-color: #75e169;
  border: none;
  padding: 23px 85px;
  color: #fff;
  border-radius: 5px;
  /* font-family: "Montserrat"; */
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  border: 2px solid transparent;
  transition: 0.3s;
}
.page6img{
    position: absolute;
    width: fit-content;
    top: 289px;
    right: 405px;
}
.page6img1{
    position: absolute;
    width: fit-content;
    top: 262px;
    left: 232px;
}
