.page5 {
  margin: 0;
  min-height: 724px;
  position: relative;
}
.page5lc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page5rc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.page5rc img{
  width: 100%;
}
.page5lc h2 {
  margin-bottom: 50px;
  width: fit-content;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
}
.page5lb {
  max-width: 50%;
}
.page5But {
    margin-top: 50px;
  background-color: #75e169;
  border: none;
  padding: 23px 60px;
  color: #fff;
  border-radius: 5px;
  /* font-family: "Montserrat"; */
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  border: 2px solid transparent;
  transition: 0.3s;
}
.page5But:hover{
    border: 2px solid #67AEFC;
}
.page5But:active{
  background-color: #67AEFC;
}
.page5Shape{
    position: absolute;
    width: fit-content;
    top: calc(2em + 6vw);
    left: calc(1em + 5vw);
}
.page5mimg{
  display: none;
}


@media (max-width: 770px) {
  .page5lb{
    max-width: 100%;
  }
  .page5lb h2{
    margin: 0 auto;
    text-align: center;
  }
  .page5Shape{
    display: none;
  }
  .page5rc img{
    display: none;
  }
  .page5mimg{
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .page5But{
    width: 100%;
    margin-top: 20px;
  }
}
